html {
	background-color: #ddd;
}

body {
	font-family: "Avenir Next", sans-serif;
}

a {
	color:#666;
}

header {
	height: 65px;
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	z-index: 10;
}

.header_inner {
	position: relative;
}

a.logo {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

a.logo:hover {
	opacity: 0.8;
}

a.logo img {
	height: 50px;
	width: auto;
}

.header_menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 65px;
}

.header-left a{
  padding: 0 5px;

 }

article {
	display: flex;
	justify-content: space-between;
	margin: 143px auto 0 auto;
	width: 100%;
	max-width: 1080px;
}

.top_main {
	width: 900px;
}

.top_side {
	width: 238px;
}

.top_main table.tbl01 th,
.top_main table.tbl01 td {
	text-align: left;
}

.top_main table.tbl01 th {
	width: 70%;
	background: white;
}

.top_main table.tbl02 th,
.top_main table.tbl02 td {
	text-align: left;
}

.top_main table.tbl02 th {
	width: 30%;
	background: #ddd;
}

/* ここからヘッダーのリンク部分 */
.header-link {
	position: relative;
	display: inline-block;
	height: 50px;
	width: 80px;
	background-color:white;
}

.header-link:hover {
	background-color:#666;
}

.header-link a {
    position: absolute;
    top: 0;
    left: 0;
	text-align: center;
	display: block;
}

.header-link a:link{
	color: black;
}

.header-link a:visited{
	color: black;
}
/* ここまでヘッダーのリンク部分 */

/* ここから求人情報テーブルのtable要素 */
.job-overview {
	width:200px;
	background-color:white;
}

.job-overview tr {
	display: block;
	float: left;
}

.job-overview th td {
	display: block;
}

.job-overview table {
	border: solid 2px black;
}
/* ここまで求人情報テーブルのtable要素 */

/* ここからHeaderのdiv要素 */
.navHeader {
	background-color:rgba(0,0,0,0.10);
	padding:10px 0px 10px 40%;
}

.box1 {
	display:inline-block;
	padding: 10px;
	margin-right: 20px;
	background-color: white;
	color: navy;
    border: solid 1px navy;
    border-radius: 5px;
}

.box1:hover {
    background-color:navy;
		color: white;
    }

.box2 {
	display:inline-block;
	padding: 10px;
	margin-right: 20px;
	background-color: white;
	color: orange;
    border: solid 1px orange;
    border-radius: 5px;
}

.box2:hover {
    background-color:orange;
		color: white;
    }


.box3 {
	display:inline-block;
	padding: 10px;
	margin-right: 20px;
	background-color: white;
	color: navy;
    border: solid 1px navy;
    border-radius: 5px;
}

.box3:hover {
    background-color:navy;
		color: white;
    }


.box4 {
	display:inline-block;
	padding: 10px;
	margin-right: 20px;
	background-color: navy;
	color: white;
    border: solid 1px navy;
    border-radius: 5px;
}

.box4:hover {
    opacity: 0.8;
    }


/* ここまでHeaderのdiv要素 */

.box5 {
	height:10px;
	width:150px;
	font-size: 12px;
	text-align: center;
    border: solid 0px;
    border-radius: 5px;
}

.top_main_a{
	background-color:white;
}

.top_main_a_logo img{
	height:40px;
	padding:10px;
	margin:10px ;
	float:left;
	border:1px solid white;

}

.top_main_b {
	background-color:white;
  margin:0px;
	padding:20px;
	font-size:12px;
	color:#475669;
}

.top_main_c {
	background-color:white;
	margin:5px;
	padding:5px;
	font-size:15px;
	color:#475669;
}

.top_main_d {
	background-color:white;
	margin:10px 10px 10px 300px;
  padding:10px;
  font-size:9px;
	display:inline-block;
	color:black;
}

.nav {
	display: flex;
}

.nav__item {
  list-style-type: none;
  background-color: #fff;
  color: #000;
  flex-grow: 1;
  text-align: center;
	border-left: 1px solid #000;
}


.main_dl{
	width: 800px;
}

dl,
dt,
dd {
  box-sizing: border-box;
}

dl {
  background: #eee;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
dt,
dd {
  padding: 10px 10px 0 10px;
  border-top: 1px solid #ccc;
	font-size:9px;
}
dt {
  width: 40%;
  float: left;
}
dd {
  background: #fff;
  margin-left: 40%;
  padding-bottom: 10px;
  border-left: 1px solid #ccc;
}
dd:after {
  content: '';
  display: block;
  clear: both;
}



.label {
    font-size:10px;
    color: #666666;
   margin-bottom: .5rem;
   font-weight: bold;
}
